a {
  color: inherit;
  display: inline-block;
}

// bootstrap 沒有針對的字距變數可以設定，所以將字距設定寫在 base 中
h1,h2,h3,h4,h5,h6{
  // 設計稿上顯示為 10%
  letter-spacing: 0.1em;
}

p{
  // 設計稿上顯示為 5%
  letter-spacing: 0.05em;  
}

// 元件設定
// badge
.badge{
  background-color: $primary-300;
  cursor: pointer;
  
  &:hover{
    background-color: $primary-400;
    color: $white;
  }
}

// 按鈕
.btn.btn-secondary-200{
  color: white;

  &:disabled{
    background-color: $neutral-200;
    border-color: $neutral-200;
  }

  &:hover{
    background-color: $accent-300 ;
    border-color: $accent-300 ;
  }
}

// link hover
.link-hover-secondary-200{
  &:hover{
    color: $accent-200;
  }
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  word-break: break-word;     
  white-space: normal;
}