<div class="d-block d-lg-none border-gray-300 border-top"></div>
<div class="container">
  <div class="d-none d-lg-block border-gray-300 border-top"></div>
  <footer class="py-6">
    <p class="text-center py-6">©Vivre 2024 All right Reserved</p>
  </footer>
</div>
