// banner
.home-banner{
  height: 551px;
  background-image: url('/assets/images/banner-sm.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-up(xs) { 
    height: 621px;
    background-image: url('/assets/images/banner.webp');
  }
}

// hot-topic
.hot-topic-cover{
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: $neutral-600;
    opacity: 0%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: opacity 0.3s;
  }

  &:hover::after{
    opacity: 40%;
    cursor: pointer;
  }
  
}