<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre | 關於我們</title>
    <link
      rel="icon"
      href="../assets/images/vivre-favicon.webp"
      type="image/x-icon"
    />
    <!-- 網頁描述 -->
    <meta
      name="description"
      content="vivre 獻給新世代的生活風格誌，一起探索生活的無限可能，分享美好生活體驗、發掘生活質感的平台。"
    />
    <meta name="author" content="NocabWang" />
    <meta
      name="keywords"
      content="vivre,生活風格,探索生活,生活文章,高品質生活,生活體驗,發掘生活質感,旅行,美食,居家,時尚,熱愛生活,啟發生活靈感,生活哲學,生活視角"
    />
    <!-- OG -->
    <meta property="og:title" content="Vivre" />
    <meta
      property="og:description"
      content="vivre 獻給新世代的生活風格誌，一起探索生活的無限可能，分享美好生活體驗、發掘生活質感的平台。"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/Nocab7714/web-layout-training-work06-Vivre-nocab/main/assets/images/vivre-og.webp"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="vivre og" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:url"
      content="https://nocab7714.github.io/web-layout-training-work06-Vivre-nocab/"
    />
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <div class="container px-0 px-md-3">
      <section class="about-us-banner"></section>
    </div>
    <div class="container">
      <nav aria-label="breadcrumb" class="mt-6 mt-md-14 mb-md-5 mb-0">
        <ol class="breadcrumb fs-md-6 fw-semibold mb-0">
          <li class="breadcrumb-item">
            <a href="index.html" class="link-gray-400">首頁</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">關於我們</li>
        </ol>
      </nav>
    </div>
    <!-- about-us -->
    <section class="container about-us">
      <h2 class="fs-md-1 fs-4 fw-bolder">關於我們</h2>
      <div class="py-10 py-md-14">
        <div class="row mb-0 mb-lg-12">
          <div class="col-lg-6 px-0 px-md-3">
            <picture>
              <source
                srcset="../assets/images/about-1.webp"
                media="(min-width: 576px)"
                class="img-fluid rounded-1 w-100"
                alt="白色的窗戶有一個酒紅色的抱枕一個點亮的蠟燭、一盒火柴、一本書和一杯熱飲"
                width="636"
                height="390"
              />
              <img
                src="../assets/images/about-1-sm.webp"
                alt="白色的窗戶有一個酒紅色的抱枕一個點亮的蠟燭、一盒火柴、一本書和一杯熱飲"
                class="img-fluid rounded-1 w-100"
                width="675"
                height="200"
              />
            </picture>
          </div>
          <div class="col-lg-6">
            <div class="py-6 px-3 py-lg-0 px-lg-10">
              <h3
                class="fs-4 fs-md-2 fw-bold mb-3"
                style="font-family: var(--bs-Newsreader)"
              >
                Vivre
              </h3>
              <p class="text-gray-400 mb-4 mb-md-9">
                vivre
                這個品牌名稱源自法語,意為"生活"、"活著"。它象徵著我們對於高品質生活的熱愛與追求。vivre
                旨在成為一個分享美好生活體驗、發掘生活質感的平台。
              </p>
              <h4 class="fs-6 fw-bold mb-3">我們的品牌價值</h4>
              <ul class="list-unstyled text-gray-400">
                <li class="mb-2">
                  <i class="bi bi-dot me-1"></i>熱愛生活,好奇心永存
                </li>
                <li class="mb-2">
                  <i class="bi bi-dot me-1"></i>品味獨具,講究生活質感
                </li>
                <li class="mb-2">
                  <i class="bi bi-dot me-1"></i>分享真實生活,啟發生活靈感
                </li>
                <li class="mb-0">
                  <i class="bi bi-dot me-1"></i>推廣慢生活哲學,注重內在修為
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row flex-md-row-reverse mb-0">
          <div class="col-lg-6 px-0 px-md-3">
            <picture>
              <source
                srcset="../assets/images/about-2.webp"
                media="(min-width: 576px)"
                class="img-fluid rounded-1 w-100"
                alt="木製餐桌上有兩盤沙拉一杯用玻璃杯裝的白葡萄酒與紅葡萄酒，還有一瓶插在小花瓶的花束"
                width="636"
                height="390"
              />
              <img
                src="../assets/images/about-2-sm.webp"
                alt="木製餐桌上有兩盤沙拉一杯用玻璃杯裝的白葡萄酒與紅葡萄酒，還有一瓶插在小花瓶的花束"
                class="img-fluid rounded-1 w-100"
                width="675"
                height="200"
              />
            </picture>
          </div>
          <div class="col-lg-6">
            <div class="py-6 px-3 py-lg-0 px-lg-10">
              <h3 class="fs-4 fs-md-2 fw-bolder mb-3 mb-md-9">風格特色</h3>
              <p class="text-gray-400 mb-4 mb-md-9">
                vivre
                所展現的風格特色,可以用知性、親和、用心、優雅與獨特這些詞語來概括。我們講求內容的原創性與探索精神,不跟風追隨潮流話題,而是真誠分享獨特的生活視角與體驗。無論是旅行、美食、居家、時尚等生活領域,我們都希望能夠呈現出與眾不同、縝密入微、內外兼具的見解,給讀者帶來嶄新的感受和啟迪。
              </p>
              <p class="text-gray-400 mb-4 mb-md-9">
                無論您是對美食、旅行、居家生活還是時尚風尚有獨到的見解和體會,只要切合vivre的價值理念與風格調性,我們都熱烈歡迎您加入這個平台,與我們一起分享和交流生活的點點滴滴。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- important events -->
    <section class="important-events bg-primary-200">
      <div class="container">
        <div class="py-10 py-md-14">
          <div class="row">
            <div class="col-md-4">
              <h2
                class="fs-4 fs-md-3 text-center text-md-start ps-0 ps-md-10 mb-6 mb-md-0"
              >
                大事記
              </h2>
            </div>
            <div class="col-md-8">
              <!-- 2020 -->
              <div class="d-flex flex-column flex-md-row mb-14">
                <h3
                  class="fs-6 fs-md-4 fw-bold text-gray-100 bg-primary-400 align-self-start p-3 me-70 mb-6 mb-md-0"
                  style="font-family: var(--bs-Newsreader)"
                >
                  2020
                </h3>

                <div class="d-flex flex-column">
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      5<span class="fs-6">月</span
                      ><span class="opacity-0">0</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      創辦人茱麗葉、亞歷山大和幾個好友在巴黎開設 vivre
                      生活部落格,紀錄分享他們對美好生活的想法和體驗。
                    </p>
                  </div>
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      10<span class="fs-6">月</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      部落格內容和讀者人數逐漸累積,決定成立 vivre
                      品牌,開發更多元豐富的內容。
                    </p>
                  </div>
                </div>
              </div>
              <!-- 2021 -->
              <div class="d-flex flex-column flex-md-row mb-14">
                <h3
                  class="fs-6 fs-md-4 fw-bold text-gray-100 bg-primary-400 align-self-start p-3 me-70 mb-6 mb-md-0"
                  style="font-family: var(--bs-Newsreader)"
                >
                  2021
                </h3>

                <div class="d-flex flex-column">
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      3<span class="fs-6">月</span
                      ><span class="opacity-0">0</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      vivre網站正式上線,除了原創文字內容,還加上了視訊、音訊等多媒體形式。
                    </p>
                  </div>
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      7<span class="fs-6">月</span
                      ><span class="opacity-0">0</span>
                    </h4>
                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      與法國本土品牌合作,推出 vivre
                      首個自有產品線,包括家飾、餐飲用品等生活品味商品。
                    </p>
                  </div>
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      12<span class="fs-6">月</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      總瀏覽人次突破 100 萬大關,獲得實體出版社青睞,出版 vivre
                      生活風格書籍。
                    </p>
                  </div>
                </div>
              </div>
              <!-- 2022 -->
              <div class="d-flex flex-column flex-md-row mb-14">
                <h3
                  class="fs-6 fs-md-4 fw-bold text-gray-100 bg-primary-400 align-self-start p-3 me-70 mb-6 mb-md-0"
                  style="font-family: var(--bs-Newsreader)"
                >
                  2022
                </h3>
                <div class="d-flex flex-column">
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      3<span class="fs-6">月</span
                      ><span class="opacity-0">0</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      推出 vivre
                      生活風格線上課程,聘請各領域專家開設有深度的付費課程。
                    </p>
                  </div>
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      8<span class="fs-6">月</span
                      ><span class="opacity-0">0</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      vivre 舉辦首屆 vivre
                      生活節,線上線下同步展開,現場湧入大批品牌粉絲朋友。
                    </p>
                  </div>
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      10<span class="fs-6">月</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      vivre 完成 A 輪融資,獲得知名風投資金青睞。
                    </p>
                  </div>
                </div>
              </div>
              <!-- 2023 -->
              <div class="d-flex flex-column flex-md-row">
                <h3
                  class="fs-6 fs-md-4 fw-bold text-gray-100 bg-primary-400 align-self-start p-3 me-70 mb-6 mb-md-0"
                  style="font-family: var(--bs-Newsreader)"
                >
                  2023
                </h3>
                <div class="d-flex flex-column">
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      1<span class="fs-6">月</span
                      ><span class="opacity-0">0</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      vivre 宣布品牌願景"探索更美好的生活",並推出全新視覺形象。
                    </p>
                  </div>
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      5<span class="fs-6">月</span
                      ><span class="opacity-0">0</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      正式推出付費訂閱會員服務,提供高階獨家內容和會員優惠。
                    </p>
                  </div>
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      9<span class="fs-6">月</span
                      ><span class="opacity-0">0</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      首次評選年度" vivre
                      生活風格大獎",表彰在各領域具有開創性的人物及品牌。
                    </p>
                  </div>
                  <div class="d-flex mb-6">
                    <h4
                      class="fs-6 fs-md-4 fw-bold text-gray-400 text-nowrap me-4"
                      style="font-family: var(--bs-Newsreader)"
                    >
                      11<span class="fs-6">月</span>
                    </h4>

                    <p class="border-start border-gray-300 ps-3 ps-md-4">
                      首次登場的" vivre
                      生活節沙龍"在全球主要城市同步舉行,線上線下吸引百萬人觀看。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="py-10 py-md-14">
        <div class="row justify-content-center">
          <div class="col-sm-10 col-md-8">
            <div class="px-0 px-md-10">
              <h2 class="fs-4 fs-md-2 text-center mb-6 mb-md-9">品牌願景</h2>
              <p class="text-gray-400 mb-6 mb-md-9">
                我們的目標不僅是為讀者提供高水準的內容，更希望能真正啟發和影響讀者的生活方式與價值觀,引領走向更有意義、品質與質感的生活體驗。我們相信,生活的意義不僅僅在於外在物質條件的滿足,更多的是一種心靈層面的追求,一種對美好事物的不懈向往。因此,vivre
                的定位是成為啟迪現代人內在生活的引路人,給予靈感啟迪,引領讀者去體驗生活的真諦。
              </p>
              <p class="text-gray-400 mb-6 mb-md-9">
                我們衷心期盼，vivre
                能為現代人的生活帶來無限靈感啟發,讓每個人的生活之路不僅優雅、從容,更有內在的意義與價值,豐富而燦爛。讓我們共同努力,將生活過得更有滋有味!期待您一同加入
                vivre，攜手同行這段美妙的人生旅程。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
