<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre | 首頁</title>
    <link
      rel="icon"
      href="../assets/images/vivre-favicon.webp"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- banner -->
    <div class="container px-0 px-md-3 py-lg-14 pt-0 pb-10">
      <section
        class="home-banner d-flex flex-column align-items-center align-items-lg-start justify-content-end justify-content-lg-center ps-0 ps-lg-12"
      >
        <div
          class="text-white d-flex flex-column align-items-center align-items-lg-start mb-11 mb-lg-0"
        >
          <h1 class="fs-6 fs-lg-5 mb-2">獻給新世代的生活風格誌</h1>
          <h2 class="fs-3 fs-lg-1 mb-5">一起探索生活的無限可能</h2>
          <a href="#" class="btn btn-secondary-200 fs-6"
            >馬上訂閱<i class="bi bi-arrow-right ms-3"></i
          ></a>
        </div>
      </section>
    </div>
    <!-- popular topic -->
    <div class="container py-10 py-lg-14">
      <section class="hot-topic">
        <h2 class="mb-6">熱門主題</h2>
        <div class="row gy-2 gy-md-4">
          <div class="col-lg-3 col-md-6">
            <div class="position-relative">
              <picture>
                <source
                  srcset="../assets/images/theme-1.webp"
                  media="(min-width: 768px)"
                  class="img-fluid hot-topic-cover"
                  alt="白天的城市街頭有許多人在行走的照片"
                  width="306"
                  height="200"
                />
                <img
                  src="../assets/images/theme-1-sm.webp"
                  alt="剪裁過後白天的城市街頭有許多人在行走的照片"
                  class="img-fluid w-100 hot-topic-cover"
                  width="351"
                  height="84"
                />
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="text-white fs-6 fs-md-5 text-nowrap z-1">
                  城市漫遊者
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="position-relative">
              <picture>
                <source
                  srcset="../assets/images/theme-3.webp"
                  media="(min-width: 768px)"
                  class="img-fluid hot-topic-cover"
                  alt="在日出下的湖畔旁有四個帳篷的照片"
                  width="306"
                  height="200"
                />
                <img
                  src="../assets/images/theme-3-sm.webp"
                  alt="剪裁過後在日出下的湖畔旁有四個帳篷的照片"
                  class="img-fluid w-100 hot-topic-cover"
                  width="351"
                  height="84"
                />
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="text-white fs-5 fs-6 fs-md-5 text-nowrap z-1">
                  秘境尋蹤人
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="position-relative">
              <picture>
                <source
                  srcset="../assets/images/theme-5.webp"
                  media="(min-width: 768px)"
                  class="img-fluid hot-topic-cover"
                  alt="有許多植物帶有南洋風的房間照片"
                  width="306"
                  height="200"
                />
                <img
                  src="../assets/images/theme-5-sm.webp"
                  alt="剪裁過後有許多植物帶有南洋風的房間照片"
                  class="img-fluid w-100 hot-topic-cover"
                  width="351"
                  height="84"
                />
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="text-white fs-5 fs-6 fs-md-5 text-nowrap z-1">
                  品味設計家
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="position-relative">
              <picture>
                <source
                  srcset="../assets/images/theme-8.webp"
                  media="(min-width: 768px)"
                  class="img-fluid hot-topic-cover"
                  alt="放滿餡料並撒上香菜的披薩的照片"
                  width="306"
                  height="200"
                />
                <img
                  src="../assets/images/theme-8-sm.webp"
                  alt="剪裁過放滿餡料並撒上香菜的披薩的照片"
                  class="img-fluid w-100 hot-topic-cover"
                  width="351"
                  height="84"
                />
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="text-white fs-5 fs-6 fs-md-5 text-nowrap z-1">
                  美食探險記
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="position-relative">
              <picture>
                <source
                  srcset="../assets/images/theme-2.webp"
                  media="(min-width: 768px)"
                  class="img-fluid hot-topic-cover"
                  alt="仰角拍攝的白色建築物的照片"
                  width="306"
                  height="200"
                />
                <img
                  src="../assets/images/theme-2-sm.webp"
                  alt="剪裁過仰角拍攝的白色建築物的照片"
                  class="img-fluid w-100 hot-topic-cover"
                  width="351"
                  height="84"
                />
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="text-white fs-5 fs-6 fs-md-5 text-nowrap z-1">
                  美學建築誌
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="position-relative">
              <picture>
                <source
                  srcset="../assets/images/theme-4.webp"
                  media="(min-width: 768px)"
                  class="img-fluid hot-topic-cover"
                  alt="咖啡廳角落的桌上有一杯咖啡與筆記本和一副眼鏡的照片"
                  width="306"
                  height="200"
                />
                <img
                  src="../assets/images/theme-4-sm.webp"
                  alt="剪裁過咖啡廳角落的桌上有一杯咖啡與筆記本和一副眼鏡的照片"
                  class="img-fluid w-100 hot-topic-cover"
                  width="351"
                  height="84"
                />
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="text-white fs-5 fs-6 fs-md-5 text-nowrap z-1">
                  慢活生活行
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="position-relative">
              <picture>
                <source
                  srcset="../assets/images/theme-6.webp"
                  media="(min-width: 768px)"
                  class="img-fluid hot-topic-cover"
                  alt="一雙手在打毛線特寫照片"
                  width="306"
                  height="200"
                />
                <img
                  src="../assets/images/theme-6-sm.webp"
                  alt="剪裁過一雙手在打毛線特寫照片"
                  class="img-fluid w-100 hot-topic-cover"
                  width="351"
                  height="84"
                />
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="text-white fs-5 fs-6 fs-md-5 text-nowrap z-1">
                  工藝匠心賞
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="position-relative">
              <picture>
                <source
                  srcset="../assets/images/theme-7.webp"
                  media="(min-width: 768px)"
                  class="img-fluid hot-topic-cover"
                  alt="一個女生穿著灰色長袖襯衫的照片"
                  width="306"
                  height="200"
                />
                <img
                  src="../assets/images/theme-7-sm.webp"
                  alt="剪裁過一個女生穿著灰色長袖襯衫的照片"
                  class="img-fluid w-100 hot-topic-cover"
                  width="351"
                  height="84"
                />
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle">
                <h3 class="text-white fs-5 fs-6 fs-md-5 text-nowrap z-1">
                  時尚先鋒派
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
