<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre | 訂閱方案</title>
    <link
      rel="icon"
      href="../assets/images/vivre-favicon.webp"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <!-- subscription -->
    <div class="container pt-4 pb-12 py-md-15">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-md-6 fw-semibold mb-md-5 mb-2">
          <li class="breadcrumb-item">
            <a href="index.html" class="link-gray-400">首頁</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">訂閱方案</li>
        </ol>
      </nav>
      <h2 class="fs-3 fs-md-1 fw-bolder mb-10 mb-md-12">訂閱方案</h2>
      <div>
        <div class="row justify-content-center mb-6 mb-md-10">
          <div class="col-lg-5">
            <div class="list-group flex-row" id="list-tab" role="tablist">
              <a
                class="list-group-item list-group-item-action active rounded-0 border-0 text-center fw-bold"
                id="list-annual-payment-list"
                data-bs-toggle="list"
                href="#list-annual-payment"
                role="tab"
                aria-controls="list-annual-payment"
                >年繳</a
              >
              <a
                class="list-group-item list-group-item-action rounded-0 border-0 text-center fw-bold"
                id="list-monthly-payment-list"
                data-bs-toggle="list"
                href="#list-monthly-payment"
                role="tab"
                aria-controls="list-monthly-payment"
                >月繳</a
              >
            </div>
          </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="list-annual-payment"
            role="tabpanel"
            aria-labelledby="list-annual-payment-list"
          >
            <ul class="row list-unstyled gy-4 gy-lg-0">
              <li class="col-lg-4">
                <div
                  class="card h-100 bg-white rounded-4 border border-primary-300 p-6 p-md-10"
                >
                  <div class="card-body p-0 d-flex flex-column">
                    <div
                      class="card-title text-center text-primary-500 text-md-primary-400 mb-9 mb-md-12"
                    >
                      <h2
                        class="d-block fs-6 fs-md-5 fw-bold fw-md-bolder mb-4"
                      >
                        輕量型
                      </h2>
                      <span class="d-block fs-2 fs-md-1 fw-bold"
                        >NT 99
                        <span
                          class="fs-5 fs-md-4 fw-bolder text-primary-400 text-md-primary-500"
                          >/ 月</span
                        >
                      </span>
                      <span
                        class="d-none d-md-block fw-bold fs-5 fs-md-22 text-gray-300 text-decoration-line-through mt-4 invisible"
                        >NT XXX
                      </span>
                    </div>
                    <ul
                      class="card-text list-unstyled text-gray-400 fs-6 fs-md-5 fw-bold mb-12"
                    >
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >每月最新文章無限閱讀</span
                        >
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >專屬會員限定內容</span
                        >
                      </li>
                      <li>
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >定期電子報</span
                        >
                      </li>
                    </ul>
                    <a
                      href="checkout.html"
                      class="btn btn-gray-100 btn-text-gray-400 fs-6 fs-md-5 fw-bold fw-md-bolder mt-auto"
                      >我要訂閱 <i class="bi bi-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </li>
              <li class="col-lg-4">
                <div
                  class="card h-100 bg-white rounded-4 border border-primary-300 p-6 p-md-10"
                >
                  <div class="card-body p-0 d-flex flex-column">
                    <div
                      class="card-title text-center text-primary-500 text-md-primary-400 mb-9 mb-md-12"
                    >
                      <h2
                        class="d-block fs-6 fs-md-5 fw-bold fw-md-bolder mb-4"
                      >
                        玩咖型
                      </h2>
                      <span class="d-block fs-2 fs-md-1 fw-bold"
                        >NT 159
                        <span
                          class="fs-5 fs-md-4 fw-bolder text-primary-400 text-md-primary-500"
                          >/ 月</span
                        >
                      </span>
                      <span
                        class="d-none d-md-block fw-bold fs-5 fs-md-22 text-gray-300 text-decoration-line-through mt-4 invisible"
                        >NT XXX
                      </span>
                    </div>
                    <ul
                      class="card-text list-unstyled text-gray-400 fs-6 fs-md-5 fw-bold mb-12"
                    >
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >每月最新文章無限閱讀</span
                        >
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >專屬會員限定內容</span
                        >
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >定期電子報</span
                        >
                      </li>
                      <li>
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >年度精選禮物</span
                        >
                      </li>
                    </ul>
                    <a
                      href="checkout.html"
                      class="btn btn-gray-100 btn-text-gray-400 fs-6 fs-md-5 fw-bold fw-md-bolder mt-auto"
                      >我要訂閱 <i class="bi bi-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </li>
              <li class="col-lg-4">
                <div
                  class="card h-100 bg-white rounded-4 border border-3 border-secondary-200 p-6 p-md-10"
                >
                  <div class="card-body p-0 d-flex flex-column">
                    <div
                      class="card-title text-center text-primary-500 text-md-primary-400 mb-9 mb-md-12"
                    >
                      <h2
                        class="d-block fs-6 fs-md-5 fw-bold fw-md-bolder mb-4"
                      >
                        家庭型
                      </h2>
                      <span
                        class="d-block text-secondary-200 fs-2 fs-md-1 fw-bold"
                        >NT 599
                        <span
                          class="fs-5 fs-md-4 fw-bolder text-primary-400 text-md-primary-500"
                          >/ 月</span
                        >
                      </span>
                      <span
                        class="d-block fw-bold fs-5 fs-md-22 text-gray-300 text-decoration-line-through mt-4"
                        >NT 899
                      </span>
                    </div>
                    <ul
                      class="card-text list-unstyled text-gray-500 fs-6 fs-md-5 fw-bold mb-12"
                    >
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>每月最新文章無限閱讀</span>
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>專屬會員限定內容</span>
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>定期電子報</span>
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>24/7 優先客戶服務</span>
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>為每個成員量身打造專屬行程</span>
                      </li>
                      <li>
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>最多 5 個家庭成員共享</span>
                      </li>
                    </ul>
                    <a
                      href="checkout.html"
                      class="btn btn-secondary-200 fs-6 fs-md-5 fw-bold fw-md-bolder mt-auto"
                      >我要訂閱 <i class="bi bi-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div
            class="tab-pane fade"
            id="list-monthly-payment"
            role="tabpanel"
            aria-labelledby="list-monthly-payment-list"
          >
            <ul class="row list-unstyled gy-4 gy-lg-0">
              <li class="col-lg-4">
                <div
                  class="card h-100 bg-white rounded-4 border border-primary-300 p-6 p-md-10"
                >
                  <div class="card-body p-0 d-flex flex-column">
                    <div
                      class="card-title text-center text-primary-500 text-md-primary-400 mb-9 mb-md-12"
                    >
                      <h2
                        class="d-block fs-6 fs-md-5 fw-bold fw-md-bolder mb-4"
                      >
                        輕量型
                      </h2>
                      <span class="d-block fs-2 fs-md-1 fw-bold"
                        >NT 150
                        <span
                          class="fs-5 fs-md-4 fw-bolder text-primary-400 text-md-primary-500"
                          >/ 月</span
                        >
                      </span>
                      <span
                        class="d-none d-md-block fw-bold fs-5 fs-md-22 text-gray-300 text-decoration-line-through mt-4 invisible"
                        >NT XXX
                      </span>
                    </div>
                    <ul
                      class="card-text list-unstyled text-gray-400 fs-6 fs-md-5 fw-bold mb-12"
                    >
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >每月最新文章無限閱讀</span
                        >
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >專屬會員限定內容</span
                        >
                      </li>
                      <li>
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >定期電子報</span
                        >
                      </li>
                    </ul>
                    <a
                      href="checkout.html"
                      class="btn btn-gray-100 btn-text-gray-400 fs-6 fs-md-5 fw-bold fw-md-bolder mt-auto"
                      >我要訂閱 <i class="bi bi-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </li>
              <li class="col-lg-4">
                <div
                  class="card h-100 bg-white rounded-4 border border-primary-300 p-6 p-md-10"
                >
                  <div class="card-body p-0 d-flex flex-column">
                    <div
                      class="card-title text-center text-primary-500 text-md-primary-400 mb-9 mb-md-12"
                    >
                      <h2
                        class="d-block fs-6 fs-md-5 fw-bold fw-md-bolder mb-4"
                      >
                        玩咖型
                      </h2>
                      <span class="d-block fs-2 fs-md-1 fw-bold"
                        >NT 239
                        <span
                          class="fs-5 fs-md-4 fw-bolder text-primary-400 text-md-primary-500"
                          >/ 月</span
                        >
                      </span>
                      <span
                        class="d-none d-md-block fw-bold fs-5 fs-md-22 text-gray-300 text-decoration-line-through mt-4 invisible"
                        >NT XXX
                      </span>
                    </div>
                    <ul
                      class="card-text list-unstyled text-gray-400 fs-6 fs-md-5 fw-bold mb-12"
                    >
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >每月最新文章無限閱讀</span
                        >
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >專屬會員限定內容</span
                        >
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >定期電子報</span
                        >
                      </li>
                      <li>
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span class="text-gray-500 text-md-gray-400"
                          >年度精選禮物</span
                        >
                      </li>
                    </ul>
                    <a
                      href="checkout.html"
                      class="btn btn-gray-100 btn-text-gray-400 fs-6 fs-md-5 fw-bold fw-md-bolder mt-auto"
                      >我要訂閱 <i class="bi bi-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </li>
              <li class="col-lg-4">
                <div
                  class="card h-100 bg-white rounded-4 border border-3 border-secondary-200 p-6 p-md-10"
                >
                  <div class="card-body p-0 d-flex flex-column">
                    <div
                      class="card-title text-center text-primary-500 text-md-primary-400 mb-9 mb-md-12"
                    >
                      <h2
                        class="d-block fs-6 fs-md-5 fw-bold fw-md-bolder mb-4"
                      >
                        家庭型
                      </h2>
                      <span
                        class="d-block text-secondary-200 fs-2 fs-md-1 fw-bold"
                        >NT 799
                        <span
                          class="fs-5 fs-md-4 fw-bolder text-primary-400 text-md-primary-500"
                          >/ 月</span
                        >
                      </span>
                      <span
                        class="d-block fw-bold fs-5 fs-md-22 text-gray-300 text-decoration-line-through mt-4"
                        >NT 699
                      </span>
                    </div>
                    <ul
                      class="card-text list-unstyled text-gray-500 fs-6 fs-md-5 fw-bold mb-12"
                    >
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>每月最新文章無限閱讀</span>
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>專屬會員限定內容</span>
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>定期電子報</span>
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>24/7 優先客戶服務</span>
                      </li>
                      <li class="mb-7 mb-md-6">
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>為每個成員量身打造專屬行程</span>
                      </li>
                      <li>
                        <i class="bi bi-check-square-fill me-2"></i
                        ><span>最多 5 個家庭成員共享</span>
                      </li>
                    </ul>
                    <a
                      href="checkout.html"
                      class="btn btn-secondary-200 fs-6 fs-md-5 fw-bold fw-md-bolder mt-auto"
                      >我要訂閱 <i class="bi bi-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
