<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre | 訂閱方案</title>
    <link
      rel="icon"
      href="../assets/images/vivre-favicon.webp"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <p>Vivre | 訂閱方案</p>
    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
